cachetools
certifi
cffi
chardet
click
cryptography
setuptools
decorator
dialogflow
feedparser
Flask
fuzzywuzzy
gnewsclient
google-api-core
google-auth
googleapis-common-protos
grpcio
gunicorn
idna
itsdangerous
Jinja2
lxml
MarkupSafe
protobuf
pyasn1
pyasn1-modules
pycparser
python-telegram-bot
pytz
requests
rsa
six
tornado
urllib3
Werkzeug
wikiquote
